#min_temp , #max_temp{
  font-size: 1.5rem;
  color: #ffc107;
}
#sunrise ,#sunset{
   font-size: 1.5rem;
  color: #198754;
}
#wind_speed ,#wind_degrees{
   font-size: 1.5rem;
  color: #0d6efd;
}